{% extends 'home/mobile/base.mobile.html.twig' %}

{% block title %}Accueil — Livridea{% endblock %}

{% block content %}
    <div class="p-4">
        {# Zone de création de post #}
        {% include 'home/mobile/components/create_post.html.twig' %}

        {# Section Moments Littéraires #}
        {% include 'home/mobile/components/novels_moments.html.twig' %}

        {# Posts #}
        {% include 'home/mobile/components/posts.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}