{% extends 'home/mobile/base.mobile.html.twig' %}

{% block title %}Accueil — Livridea{% endblock %}

{% block content %}
    <div class="p-4">
        {# Zone de création de post #}
        {% include 'home/mobile/partials/_create_post.html.twig' %}

        {# Section Moments Littéraires #}
        {% include 'home/mobile/partials/_novels_moments.html.twig' %}

        {# Posts #}
        {% include 'home/mobile/partials/_posts.html.twig' %}
    </div>
{% endblock %}