{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block main_content %}
    <div class="max-w-4xl mx-auto mt-8 p-6 bg-[#fdf9f3] border border-bookmark shadow rounded-xl mb-16">
        <h1 class="text-3xl font-bold text-leather italic mb-6 flex items-center gap-2">
            <svg viewBox="0 0 24 24" class="w-6 h-6 text-bookmark" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 6.90909C10.8999 5.50893 9.20406 4.10877 5.00119 4.00602C4.72513 3.99928 4.5 4.22351 4.5 4.49965C4.5 6.54813 4.5 14.3034 4.5 16.597C4.5 16.8731 4.72515 17.09 5.00114 17.099C9.20405 17.2364 10.8999 19.0998 12 20.5M12 6.90909C13.1001 5.50893 14.7959 4.10877 18.9988 4.00602C19.2749 3.99928 19.5 4.21847 19.5 4.49461C19.5 6.78447 19.5 14.3064 19.5 16.5963C19.5 16.8724 19.2749 17.09 18.9989 17.099C14.796 17.2364 13.1001 19.0998 12 20.5M12 6.90909L12 20.5" stroke="currentColor" stroke-linejoin="round"/>
            </svg>
            À propos de Livridea
        </h1>

        <p class="text-ink mb-4 leading-relaxed">
            Bienvenue sur <span class="font-semibold italic text-leather">Livridea</span>, la plateforme d'interaction dédiée aux amoureux de la lecture. Notre mission est de rassembler des passionnés de tous horizons pour partager et découvrir de nouvelles lectures, échanger des recommandations et se connecter autour d'un amour commun pour les livres.
        </p>

        <h2 class="text-xl font-semibold text-bookmark mt-6 mb-3 italic">Notre mission</h2>
        <p class="text-ink mb-4 leading-relaxed">
            Livridea aspire à devenir la référence pour les amateurs de lecture en offrant un espace convivial et stimulant où chacun peut explorer de nouveaux univers littéraires, échanger avec d'autres lecteurs et enrichir son expérience de lecture.
        </p>

        <h2 class="text-xl font-semibold text-bookmark mt-6 mb-3 italic">Fonctionnalités principales</h2>
        <ul class="list-disc list-inside text-ink mb-4 space-y-1 text-sm">
            <li>Créer des listes de livres favoris</li>
            <li>Publier des critiques et des avis</li>
            <li>Suivre d'autres lecteurs et consulter leurs recommandations</li>
            <li>Participer à des discussions par genre littéraire</li>
        </ul>

        <h2 class="text-xl font-semibold text-bookmark mt-6 mb-3 italic">Rejoignez la communauté</h2>
        <p class="text-ink leading-relaxed">
            En rejoignant Livridea, vous faites partie d'une communauté qui valorise le partage, la curiosité et l'amour de la lecture. <br>
            <a href="{{ path('app_register') }}" class="text-leather hover:underline font-medium">Inscrivez-vous dès aujourd'hui</a> et plongez dans un univers littéraire riche et passionné !
        </p>
    </div>
{% endblock %}
