{% extends 'home/base_home.html.twig' %}

{% block title %}Conditions d'utilisation{% endblock %}

{% block body %}
    <div class="max-w-4xl mx-auto mt-8 p-6 bg-white shadow-lg rounded-lg">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">Conditions d'utilisation</h1>

        <p class="text-gray-700 mb-4">
            Bienvenue sur Livrideia, une plateforme dédiée aux passionnés de lecture. En utilisant ce site, vous acceptez les présentes conditions d'utilisation. Veuillez les lire attentivement.
        </p>

        <h2 class="text-2xl font-semibold text-gray-800 mt-6 mb-4">1. Compte Utilisateur</h2>
        <p class="text-gray-700 mb-4">
            Pour accéder à certains services, vous devrez créer un compte en fournissant des informations exactes et à jour. Vous êtes responsable de la sécurité de votre compte et des activités qui s'y déroulent.
        </p>

        <h2 class="text-2xl font-semibold text-gray-800 mt-6 mb-4">2. Utilisation Acceptable</h2>
        <p class="text-gray-700 mb-4">
            Vous vous engagez à utiliser Livrideia dans le respect des lois en vigueur. Toute publication de contenu inapproprié, offensant ou illégal est interdite.
        </p>

        <h2 class="text-2xl font-semibold text-gray-800 mt-6 mb-4">3. Droits de Propriété Intellectuelle</h2>
        <p class="text-gray-700 mb-4">
            Les contenus publiés sur Livrideia, tels que les textes, images et logos, sont protégés par les lois sur la propriété intellectuelle. Toute reproduction ou distribution sans autorisation est interdite.
        </p>

        <h2 class="text-2xl font-semibold text-gray-800 mt-6 mb-4">4. Modifications des Conditions</h2>
        <p class="text-gray-700 mb-4">
            Livrideia se réserve le droit de modifier les présentes conditions à tout moment. Les utilisateurs seront informés des changements et devront accepter les nouvelles conditions pour continuer à utiliser le site.
        </p>

        <p class="text-gray-700 mt-6">En utilisant notre site, vous reconnaissez avoir lu et accepté nos conditions d'utilisation.</p>
    </div>
{% endblock %}
