{% extends 'home/desktop/base_desktop.html.twig' %}

{% block title %}Accueil — Livridea{% endblock %}

{% block content %}
    <div class="flex gap-12 max-w-none mt-12">
        <aside class="hidden xl:block w-80 flex-shrink-0">
            {% include 'home/desktop/components/sidebar_left.html.twig' %}
        </aside>

        <main class="flex-1 min-w-0 max-w-2xl mx-auto xl:mx-0">
            {% include 'home/desktop/components/main_content.html.twig' %}
        </main>

        <aside class="hidden xl:block w-80 flex-shrink-0">
            {% include 'home/desktop/components/sidebar_right.html.twig' %}
        </aside>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}